@import '../setup/colors';

html {
	font-size: 62.5%;
}

img {
	max-width: 100%;
}

body {
	font-size: 1.8rem;
	color: $darkgrey;
	background: $blue;
	font-family: Catamaran;
	-webkit-font-smoothing: antialiased;
}
